@charset "UTF-8";

// --- Variables
// ---------------------------------------------------

// asset path
$images_path: "../images/";

$brand-color:#E53940;
$black: #111111;
$dark-grey: #4B4A49;
$grey: #666666;
$medium-grey: #727373;
$light-grey:#D1D3D4;
$very-light-grey:#f6f6f6;
$white: #fff;

$body-color: #ffffff;
